@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+US+Trad:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
      font-family:'Times New Roman', Times, serif;
      background-color:rgb(220, 219, 212);
      margin: 0;
      padding: 0;
      line-height: 1.6;
    }

    header,
    footer {
      background: #333;
      color: #fff;
      padding: 10px 0;
      text-align: center;
    }
    nav {
      display: inline;
      font-family: "Roboto", serif;
    } 

    nav ul {
      list-style: none;
      padding: 0;
    }

    nav ul li {
      display: inline;
      margin: 0 15px;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
    }

    section {
      padding: 20px;
      margin: 20px 0;
    }

    #home {
      text-align: center;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }

    table,
    th,
    td {
      border: 1px solid #333;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    form label {
      margin: 10px 0 5px;
    }

    form input,
    form textarea {
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    form button {
      padding: 10px;
      background: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    form button:hover {
      background: #555;
    }